# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Django
media/
staticfiles/

# Logs
*.log

# Migrations cache
*.pot

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/